<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AoE2 Rulebook Website</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<h1>Age of Empires 2 Rulebook Website</h1>
<div class="container-fluid">
    <div id="welcome_text">
        This website allows you to create a rulebook for your Age of Empires 2 Tournament. This Website is still
        developed and features will be added in the future. If you have good ideas what this site needs or find any
        bugs, please report them
        <div id="link_issues" href="https://github.com/PatataMaxtex/aoe2-rule-book-website/issues"> here</div>
        .
    </div>
    <button type="button" class="btn btn-primary">Create Rulebook</button>
</div>
</body>
</html>